<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Server=ZHANGWENBIN;DataBase=StreetLightsNew_2012;UID=sa;PWD=siiit@2010"/>
    <add key="connectionStringMain" value="Server=ZHANGWENBIN;DataBase=StreetLightsNew_Main;UID=sa;PWD=siiit@2010"/>
  </appSettings>  
</configuration>